.main {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 40vw 45vw 10vw;
  gap: 2rem;
  justify-items: center;
  padding-top: 2rem;
  min-height: 100vh;
}

.header {
  height: auto;
  width: 100%;
  color: var(--color-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 2rem;
}

.header h2 {
  margin: 0;
  font-size: 2rem;
}

.p {
  margin: 0;
  color: var(--color-2);
}

.leftSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.componentSection {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.previewWrapper {
  width: calc(794px * 0.6);
  height: calc(1123px * 0.6);
  position: sticky;
  top: 2rem;
}

.a4preview {
  width: 794px;
  height: 1123px;
  background: white;
  transform: scale(0.6);
  transform-origin: top left;
  overflow: scroll;
  box-shadow: 0 4px 15px rgba(39, 55, 77, 0.2);
  border: 1px solid var(--color-3);
  scrollbar-width: none;
}
