:root {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #dde6ed;
}

body {
  font-family: Arial, Calibri, sans-serif;
}

.icon {
  height: 2rem;
  width: 2rem;
}

.icon2 {
  width: 1.5rem;
}
