.main {
  display: grid;
  gap: 1rem;
}

.icon {
  width: 1.2rem;
}

.mainComponent {
  border: 1px solid black;
  border-radius: 1rem;
  width: 20rem;
}
.mainComponentHeader {
  display: flex;
  gap: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: lightblue;
  border-radius: 1rem;
}

.mainComponentHeaderText {
  margin-right: auto;
}
.inputComponent {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.normalInput {
  height: 1.5rem;
}
